.coin-container{
    display: flex;
    justify-content: center;

  
}
.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
}
.coin{
    display: flex;
    align-items: center;
    padding: 24px;
    min-width: 300px;
    
}
.coin-image{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.coin-name{
    font-size: 16px;
    width: 150px;
}
.coin-symbol{
    text-transform: uppercase;

}
.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}
.coin-price{
    width:fit-content;
    padding-right: 30px;
}
.coin-volume{
    width: fit-content;
   
   
}
.coin-marketcap{
    width: fit-content;
}
.coin-percent{
    width: 100%;
}
.red{
    color: #af1818;
    font-weight: bold;
   
}
.green{
    color: #11d811;
    font-weight: bold;
}